<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CSCE 464 Assignment-1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>lecture464.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>lecture464.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>lecture464.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movieSearch</display-name>
    <servlet-name>movieSearch</servlet-name>
    <servlet-class>lecture464.servlet.movieSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movieSearch</servlet-name>
    <url-pattern>/movieSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransactionConfirmation</display-name>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <servlet-class>lecture464.servlet.CustomerTransactionConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <url-pattern>/CustomerTransactionConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>About</display-name>
    <servlet-name>About</servlet-name>
    <servlet-class>lecture464.servlet.About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/About</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>lecture464.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>