.table td {
   text-align: center;   
}

.centText{
   text-align: center;   
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.banner{
  width:400px;
  height:75px;  
}


.poster{
  width:75px;
  height:75px;  
}


#login{
  width: 60%;
  margin: 0 auto;
  float: none;
}
#background {

    position: fixed;

    top: 50%;

    left: 50%;

    min-width: 100%;

    min-height: 100%;

    width: auto;

    height: auto;

    z-index: -100;

    -webkit-transform: translateX(-50%) translateY(-50%);

    transform: translateX(-50%) translateY(-50%);

    background: url(polina.jpg) no-repeat;

    background-size: cover;

}


